.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.complete {
  color: #ffffff;
  background: #5b5c5c;
  font-weight: 300;
}

.incomplete {
  color: #1a4d43;
  font-weight: 600;
}

.toDoList{
  list-style-type: none;
  width: 30%;
  line-height: 1.5em;
}

table {
  border-spacing: .7em;
  margin: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: .4em;
}